@font-face {
  font-family: "Big Caslon";
  src: url(../fonts/big-caslon-medium.ttf);
}

@font-face {
  font-family: "Source Code Pro Light";
  src: url(../fonts/source-code-pro-light.ttf);
}

@font-face {
  font-family: "Source Code Pro Medium";
  src: url(../fonts/source-code-pro-medium.ttf);
}

@font-face {
  font-family: "Source Code Pro Bold";
  src: url(../fonts/source-code-pro-bold.ttf);
}

:root {
  --colorPrimary: #221c35;
  --colorPrimaryBold: #1e192d;
  --colorSecundary: #ef6a00;
  --colorSecundaryBold: #482924;
  --colorSecundaryLight: #f08530;
  --colorSecundaryHover: #f09349;
  --colorTertiary: #007672;
  --white: #ffffff;
  --gray: #f2f2f2;
  --black: #0d0d0d;
  --textFontLight: "Source Code Pro Light", monospace;
  --textFontMedium: "Source Code Pro Medium", monospace;
  --textFontBold: "Source Code Pro Bold", monospace;
  --titleFont: "Big Caslon", serif;
  --size10: 0.625rem;
  --size12: 0.75rem;
  --size16: 1rem;
  --size18: 1.125rem;
  --size36: 2.25rem;
  --size72: 4.5rem;
  --btnPadding: 15px 20px;
  --btnRadius: 10px;
}

body {
  background: var(--gray);
  font-size: 1rem;
  font-family: var(--textFontMedium);
}

.container {
  max-width: 1077px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
}

.title {
  font-size: var(--size72);
  font-family: var(--titleFont);
}

strong {
  font-family: var(--textFontBold);
}

legend {
  font-size: var(--size10);
  font-family: var(--textFontLight);
}

.link {
  color: var(--colorTertiary);
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  position: relative;
  color: var(--gray);
  font-family: var(--textFontBold);
  font-size: var(--size18);
  text-transform: uppercase;
  padding: var(--btnPadding);
  background: var(--colorTertiary);
  border-radius: var(--btnRadius);
  text-align: center;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--colorTertiary);
  border-radius: 15px;
  transition: top, left, right, bottom, 100ms ease-in-out;
}

.call-to-action {
  background: var(--colorSecundary) !important;
}

.call-to-action::before {
  border: 2px solid var(--colorSecundary) !important;
}

.btn:hover::before,
.btn:focus::before {
  top: calc(2px * -3);
  left: calc(2px * -3);
  right: calc(2px * -3);
  bottom: calc(2px * -3);
}

@keyframes translate10 {
  0% {
    opacity: 0;
    transform: translate3d(0px, -10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}

@keyframes translate30 {
  0% {
    opacity: 0;
    transform: translate3d(0px, -30px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes translateLeft30 {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
