.data {
  color: var(--colorPrimary);
}

.data .container {
  margin: 120px auto;
  justify-content: space-between;
}

.data-left h2 {
  max-width: 300px;
}

.data-left img {
  opacity: 0;
  margin-top: 40px;
  margin-left: -182px;
  margin-right: 20px;
}

.show-img {
  animation: showImg 0.5s forwards !important;
}

@keyframes showImg {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.data-right {
  max-width: 50%;
}

.data-right p {
  margin-bottom: 40px;
}

.data-right p:last-child {
  margin-bottom: 0px;
}

.data-right p:first-child,
.data-numbers {
  font-size: var(--size36);
}

.data-numbers {
  display: block;
}

.data-numbers,
.data-percent {
  color: var(--colorSecundary);
  font-family: var(--textFontBold);
}

.data-right p {
  opacity: 0;
}

.active-scroll {
  animation: showData 0.5s forwards !important;
}

@keyframes showData {
  0% {
    opacity: 0;
    transform: translate3d(0px, -10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}

@media (max-width: 900px) {
  .data-numbers {
    font-size: 2rem;
  }
  .data-left img {
    max-width: 100%;
    margin-left: -20px;
  }
}

@media (max-width: 741px) {
  .data .container {
    flex-direction: column;
  }
  .data-right {
    margin-top: 40px;
    max-width: 100%;
  }
}

@media (max-width: 384px) {
  .data-numbers {
    font-size: 1.5rem;
  }
  .data-left h2 {
    font-size: var(--size36);
  }
}

@media (max-width: 301px) {
  .data-numbers {
    font-size: var(--size18);
  }
}
