.data {
  color: var(--colorPrimary);
}

.data .container {
  margin: 120px auto;
}

.data-left h2 {
  max-width: 300px;
}

.data-left img {
  opacity: 0;
  margin-top: 40px;
  margin-left: -182px;
  left: 600px;
}

.show-img {
  animation: showImg 0.5s forwards !important;
}

@keyframes showImg {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.data-right {
  margin-left: 170px;
}

.data-right p {
  margin-bottom: 40px;
}

.data-right p:last-child {
  margin-bottom: 0px;
}

.data-right p:first-child,
.data-numbers {
  font-size: var(--size36);
}

.data-numbers {
  display: block;
}

.data-numbers,
.data-percent {
  color: var(--colorSecundary);
  font-family: var(--textFontBold);
}

.data-right p {
  opacity: 0;
}

.active-scroll {
  animation: showData 0.5s forwards !important;
}

@keyframes showData {
  0% {
    opacity: 0;
    transform: translate3d(0px, -10px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
