.faq {
  background: var(--colorPrimary);
  padding: 170px 0px;
  position: relative;
}

.faq .container {
  justify-content: space-between;
  align-items: flex-start;
}

.perguntas {
  width: 312px;
  margin-right: 20px;
}

.perguntas li {
  color: var(--gray);
  font-size: var(--size18);
}

.perguntas li + li {
  margin-top: 60px;
}

.perguntas li::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border: solid 2px var(--colorTertiary);
  border-radius: 100%;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.respostas {
  position: relative;
  top: 30px;
  width: 400px;
  background: rgba(13, 13, 13, 0.2);
  padding: 20px;
}

.respostas h2 {
  font-family: var(--titleFont);
  color: var(--gray);
  font-size: var(--size36);
}

.respostas p {
  color: var(--gray);
  margin-top: 30px;
}

.line {
  position: absolute;
  width: calc(100% - 8px);
  margin-left: 8px;
  top: 185px;
  stroke-width: 2px;
  stroke-dashoffset: 800;
  stroke-dasharray: 89%;
  animation: svgAnimation 1s ease-in-out forwards;
}

@keyframes svgAnimation {
  0% {
    stroke-dashoffset: 1000;
  }
  70% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 1125px) {
  .line {
    width: calc(100% + 193px);
    margin-left: -193px;
  }
}

@media (max-width: 730px) {
  .line {
    display: none;
  }
  .faq .container {
    flex-direction: column;
  }
  .respostas {
    display: none;
  }
}
