.purchase {
  background: var(--colorSecundary);
  padding: 120px 0px;
  color: var(--colorPrimary);
}

.purchase-left form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.form-instruction {
  max-width: 600px;
}

.field,
.field-text {
  font-family: var(--textFontMedium);
  font-size: var(--size18);
  color: var(--colorPrimary);
  background: var(--colorSecundaryLight);
  border: 4px solid var(--colorPrimary);
  margin-bottom: 40px;
  height: 20px;
  padding: 20px;
  border-radius: var(--btnRadius);
}

.field-text {
  height: 100px;
  resize: vertical;
}

.field:focus,
.field-text:focus,
.field:hover,
.field-text:hover {
  outline: none;
  background: var(--colorSecundaryHover);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--colorPrimary);
  -webkit-box-shadow: 0 0 0px 1000px var(--colorSecundaryHover) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.label {
  font-family: var(--textFontBold);
  font-size: var(--size18);
  margin-bottom: 10px;
}

.btn-submit {
  display: block;
  font-family: var(--textFontBold);
  text-transform: uppercase;
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  text-align: center;
  color: var(--colorSecundary);
  font-size: var(--size18);
  height: 70px;
  background: var(--colorPrimary);
  cursor: pointer;
  border: none;
}

.btn-submit:hover {
  color: var(--colorPrimary);
  background: var(--colorSecundary);
  border: 4px solid var(--colorPrimary);
}

.purchase-right {
  opacity: 0;
  margin-left: 120px;
}

.active-price {
  animation: translate30 1.2s forwards !important;
}

.slogan {
  font-family: var(--titleFont);
  font-size: var(--size36);
}

.price-tag span {
  position: relative;
  right: -20px;
  bottom: -10px;
  color: var(--colorSecundary);
  background: var(--colorPrimary);
  font-family: var(--textFontBold);
  padding: 2px 5px;
  border-radius: 25px;
}

.price-tag p {
  text-align: center;
  display: table;
  padding: 20px;
  font-family: var(--textFontBold);
  font-size: var(--size36);
  color: var(--colorSecundary);
  background: var(--colorPrimary);
  border-radius: 25px;
}

.price {
  margin-top: 20px;
}

.no-parcel {
  font-family: var(--textFontBold);
  margin-left: 20px;
  margin-bottom: 40px;
}

.price p:nth-child(3),
.price p:nth-child(4) {
  font-family: var(--textFontMedium);
  font-size: var(--size18);
}

#form-sucesso h2,
#form-erro h2 {
  margin-top: -40px;
  font-family: var(--titleFont);
  font-size: var(--size72);
  max-width: 600px;
}

#form-sucesso p,
#form-erro p {
  margin-top: 20px;
  max-width: 600px;
  font-size: var(--size18);
}

#form-note {
  font-size: var(--size12) !important;
}

#form-erro .link {
  color: var(--colorPrimary);
}

@media (max-width: 765px) {
  .purchase-right {
    margin-left: 40px;
  }
}

@media (max-width: 678px) {
  .purchase .container {
    flex-direction: column;
  }
  .purchase-left {
    order: 2;
  }
  .purchase-right {
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
    margin-bottom: 60px;
  }
  .no-parcel {
    margin-bottom: 20px;
  }
  .price {
    margin-left: 20px;
  }
  .price-tag p {
    display: block;
  }
  .price p:nth-child(3),
  .price p:nth-child(4) {
    text-align: center;
  }
}

@media (max-width: 397px) {
  .purchase-right {
    flex-direction: column;
    align-items: center;
  }
  .price {
    margin-left: 0px;
  }
}

@media (max-width: 264px) {
  .btn-submit {
    padding: 10px;
  }
}
