.service > p {
  text-align: center;
  color: var(--colorPrimary);
  padding: 0px 20px;
}

.service > p:nth-child(1) {
  max-width: 480px;
  margin: 0 auto;
}

.service > p:nth-child(2) {
  font-family: var(--titleFont);
  font-size: var(--size36);
  max-width: 300px;
  margin: 20px auto 0px auto;
}

.service-content {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 120px;
  height: 100%;
  background: url(../img/bg-service.jpg) no-repeat center center;
  background-size: cover;
}

.plan {
  position: relative;
  bottom: 80px;
  width: 463px;
  background: var(--colorPrimary);
  margin: 0px 20px;
  color: var(--gray);
  padding: 40px;
  border: 4px solid var(--colorSecundary);
  border-radius: 40px;
  box-shadow: 0px 8px 20px rgba(34, 28, 53, 0.3);
}

.plan h3 {
  font-family: var(--textFontBold);
  font-size: var(--size36);
  color: var(--colorSecundary);
  margin-bottom: 30px;
}

.plan p {
  margin-bottom: 40px;
}

.benefit {
  margin-top: 20px;
}

.benefit::before {
  content: "";
  display: inline-block;
  width: 7px;
  margin-right: 10px;
  height: 7px;
  border: solid 2px var(--colorTertiary);
  border-radius: 100%;
  position: relative;
}

.benefit::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: var(--black);
  margin-top: 20px;
}

.call {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.call p {
  max-width: 200px;
  margin-bottom: 0px;
  margin-right: 40px;
}

.call .call-to-action {
  padding: 16px !important;
}

.plan ul {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  left: -27px;
  margin-top: -5px;
  background: var(--colorPrimaryBold);
  z-index: 200;
  padding: 20px;
  border: 2px solid var(--colorSecundary);
  border-radius: 10px;
  font-size: 0.8rem;
  animation: showTooltip 0.2s forwards;
}

@keyframes showTooltip {
  0% {
    opacity: 0;
    transform: translate3d(0px, -5px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.tooltip::before {
  content: "";
  width: 20px;
  height: 20px;
  background: var(--colorPrimaryBold);
  display: block;
  position: absolute;
  transform: rotate(45deg);
  border-top: 2px solid var(--colorSecundary);
  border-left: 2px solid var(--colorSecundary);
  border-radius: 1px 0 0 0;
  top: -12px;
  left: 20px;
}

.active-tooltip {
  display: block;
}

@media (max-width: 605px) {
  .tooltip {
    display: none !important;
  }
}

@media (max-width: 451px) {
  .hidden {
    display: none;
  }
  .show {
    display: block;
  }
  .call {
    flex-direction: column;
  }
  .call p {
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

@media (max-width: 304px) {
  .plan {
    padding: 20px;
  }
  .plan h3 {
    font-size: 2rem;
  }
}
