.stages {
  background: var(--colorPrimary);
  color: var(--gray);
  padding: 120px 0px;
}

.stages h2 {
  margin-bottom: 90px;
}

.stage {
  opacity: 0;
  background: var(--colorPrimaryBold);
}

.active-stage {
  animation: showStage 0.5s forwards !important;
}

@keyframes showStage {
  0% {
    opacity: 0;
    transform: translate3d(0px, -30px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.stage .container {
  padding: 20px;
  margin-bottom: 90px;
  align-items: center;
}

.stage:last-child .container {
  margin-bottom: 0px;
}

.stage .container > h3 {
  font-size: 18rem;
  color: var(--colorSecundaryBold);
  font-family: var(--textFontBold);
  margin-right: 20px;
}

.stage .container div h3 {
  font-family: var(--textFontBold);
  font-size: var(--size36);
  color: var(--colorSecundary);
  margin-bottom: 20px;
}

@media (max-width: 530px) {
  .stages h2 {
    font-size: var(--size36);
  }
  .stage .container div h3 {
    font-size: var(--size18);
  }
}

@media (max-width: 420px) {
  .stage .container {
    flex-direction: column;
  }
}

@media (max-width: 280px) {
  .stages h2 {
    width: 100%;
    word-wrap: break-word;
  }
}
