.stages {
  background: var(--colorPrimary);
  color: var(--gray);
  padding: 120px 0px;
}

.stages h2 {
  margin-bottom: 90px;
}

.stage {
  background: rgba(13, 13, 13, 0.2);
}

.stage .container {
  padding: 20px 0px;
  margin-bottom: 90px;
  align-items: center;
}

.stage:last-child .container {
  margin-bottom: 0px;
}

.stage .container > h3 {
  font-size: 18rem;
  color: rgba(239, 106, 0, 0.2);
  font-family: var(--textFontBold);
  margin-right: 20px;
}

.stage .container div h3 {
  font-family: var(--textFontBold);
  font-size: var(--size36);
  color: var(--colorSecundary);
  margin-bottom: 20px;
}

.stage .container div p {
  margin-right: 20px;
}

@media (max-width: 530px) {
  .stages h2 {
    font-size: var(--size36);
  }
  .stage .container div h3 {
    font-size: var(--size18);
  }
}

@media (max-width: 420px) {
  .stage .container {
    flex-direction: column;
    padding: 0 20px 20px 20px;
  }
  .stage .container div p {
    margin-right: 0px;
  }
}

@media (max-width: 280px) {
  .stages h2 {
    width: 100%;
    word-wrap: break-word;
  }
}
