<div class="reset">
  <table class="blank-wrapper" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="font-size: 0px; height: 10px" height="10"></td>
    </tr>
    <tr>
      <td>
        <table
          class="template-wrapper"
          border="0"
          cellspacing="0"
          cellpadding="0"
          width="510"
          style="width: 510px"
        >
          <tr>
            <td></td>
          </tr>
          <tr>
            <td style="padding-top: 0">
              <!-- Bulleted 2020 -->
              <div class="ws-corp core-2">
                <div class="html" style="max-width: 510px">
                  <table
                    border="0"
                    width="510"
                    style="width: 510px; padding-bottom: 5px"
                    cellpadding="0"
                    cellspacing="0"
                    border="0"
                  >
                    <tr>
                      <td
                        style="
                          border-right: 1px solid #ef6a00;
                          padding-right: 8px;
                          vertical-align: top;
                          width: 116px;
                        "
                        v-align="top"
                        width="116.0"
                      >
                        <table
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          align="center"
                        >
                          <tr>
                            <td width="116.0" style="width: 116px">
                              <img
                                src="https://d4d8xd20er8lg.cloudfront.net/8c605476-44ed-4a6b-849b-8323bf40bf00/9pBAagHf50PiwZVAhmkYcaUF1iCYzSoZ.png"
                                width="116.0"
                                height="102.0"
                                style="width: 116px; height: 102px"
                              />
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td
                        style="
                          padding-left: 8px;
                          padding-bottom: 8px;
                          text-align: initial;
                        "
                      >
                        <table
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          width="100%"
                          style="width: 100%"
                        >
                          <tr>
                            <td
                              style="
                                padding-bottom: 8px;
                                font-size: 14px;
                                line-height: 18px;
                              "
                            >
                              <span
                                style="
                                  color: #221c35;
                                  font-family: Arial;
                                  font-weight: bold;
                                  font-size: 16px;
                                "
                                >Feliphe Paz</span
                              ><br />
                              <span
                                style="
                                  color: #221c35;
                                  margin-bottom: 7px;
                                  font-weight: bold;
                                  font-family: Arial;
                                "
                                >Co-Founder & Developer</span
                              ><br /><br />
                              <span>
                                <a
                                  href="tel:11 93016 6721"
                                  style="
                                    color: #007672;
                                    text-decoration: none;
                                    font-family: Arial;
                                  "
                                  target="_blank"
                                  >11 93016 6721</a
                                ></span
                              >
                              &nbsp;<b
                                style="color: #221c35; font-family: Arial"
                                >&bull;</b
                              >&nbsp;<span>
                                <a
                                  href="mailto:feliphe.paz@codelari.com"
                                  style="
                                    color: #007672;
                                    text-decoration: none;
                                    font-family: Arial;
                                  "
                                  target="_blank"
                                  >feliphe.paz@codelari.com</a
                                ></span
                              >
                              &nbsp;<b
                                style="color: #221c35; font-family: Arial"
                                >&bull;</b
                              >&nbsp;<span
                                ><a
                                  href="http://codelari.com"
                                  target="_blank"
                                  style="
                                    color: #007672;
                                    text-decoration: none;
                                    font-family: Arial;
                                  "
                                  >codelari.com</a
                                ></span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                  <td style="padding-right: 4px">
                                    <a
                                      href="https://www.facebook.com/CodelariAgencia"
                                      style="text-decoration: none"
                                      target="_blank"
                                      ><img
                                        src="https://cdn.gifo.wisestamp.com/social/facebook/007672/64/0.png"
                                        alt="facebook"
                                        height="16"
                                        width="16"
                                        style="height: 16px; width: 16px"
                                    /></a>
                                  </td>
                                  <td style="padding-right: 4px">
                                    <a
                                      href="https://www.instagram.com/codelariagencia"
                                      style="text-decoration: none"
                                      target="_blank"
                                      ><img
                                        src="https://cdn.gifo.wisestamp.com/social/instagram/007672/64/0.png"
                                        alt="instagram"
                                        height="16"
                                        width="16"
                                        style="height: 16px; width: 16px"
                                    /></a>
                                  </td>
                                  <td style="padding-right: 4px">
                                    <a
                                      href="https://twitter.com/CodelariAgencia"
                                      style="text-decoration: none"
                                      target="_blank"
                                      ><img
                                        src="https://cdn.gifo.wisestamp.com/social/twitter/007672/64/0.png"
                                        alt="twitter"
                                        height="16"
                                        width="16"
                                        style="height: 16px; width: 16px"
                                    /></a>
                                  </td>
                                  <td style="padding-right: 4px"></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td
                        colspan="3"
                        style="
                          padding-top: 10px;
                          font-family: Arial;
                          font-size: 14px;
                        "
                      ></td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
